<html lang="pt-BR" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>    
    <link rel="stylesheet" href="bower_components/datetimepicker/build/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	  <script src="bower_components/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="directives/datetimepicker/datetimepicker.js"></script>
    <script src="home-controller.js"></script>
  </head>
  <body>
    <div ng-controller="homeCtrl">
    	<input id="datetimepicker" type="text">
      <p>Nothing here {{'yet' + '!'}}</p>
      <br>
      <datetimepicker ng-model="ng1" datepicker="true" id="idOfDatetimepicker"></datetimepicker>
      value of ng1: <span ng-bind="ng1"></span>
      <button type="submit" ng-click="bindData(ng1)">Show value</button>
      <br>
      <datetimepicker ng-model="ng2" datepicker="false" format="H" step="1" id="idOfDatetimepicker2"></datetimepicker>
      value of ng2: {{ng2}}
      <br>
      <datetimepicker ng-model="ng3" mindate="yesterday" maxdate="tomorrow" id="idOfDatetimepicker3"></datetimepicker>
      value of ng3: <span ng-bind="ng3"></span>
      <br>
      <datetimepicker ng-model="ng4"></datetimepicker> 
      This directive require "id" attribute to use the jquery component and after that, bind the value.
    </div>
  </body>
  <script>
    $(document).ready(function(){
      var teste = {
      	datepicker: true
      };
      //$.datetimepicker.setLocale('pt-BR');
      jQuery('#datetimepicker').datetimepicker(teste);
    });
  </script>
</html>
